.detailsCardAuthor, .detailsCardDescription,.detailsCardTags,.detailsCardPrice, .detailsCardOrderButton{
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1em;
	padding: 5px;
}
.detailsCard{
	display: flex;
	background: rgba(204, 255, 204, 0.8);
	padding: 10px;
	max-width: 1200px;
	min-width: 600px;
}
.detailsCardPoster{
	flex:1;
}
.detailsCardInfo{
	margin-left: 10px;
	flex:1;
}
.detailsCardHeader{
	border-bottom: 1px solid rgba(0, 0, 0, 0.65);
}
.detailsCardAuthor{
	font-size: 20px;
}
.orderPart{
	display: flex;
	justify-content: space-between;
}